services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: belajar_typescript_restful_api
      POSTGRES_USER: helmipradita
      POSTGRES_PASSWORD: Password123!
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d
    networks:
      - local-dev-network
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U helmipradita -d belajar_typescript_restful_api",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:
    driver: local

networks:
  local-dev-network:
    name: local-dev-network
    driver: bridge
