services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9443:9443"
    volumes:
      - portainer-data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - local-dev-network

volumes:
  portainer-data:
    driver: local

networks:
  local-dev-network:
    external: true
    # name: local-dev-network  # boleh dihapus, defaultnya sama dengan key di atas
