services:
  portainer:
    image: portainer/portainer-ee:2.33.5
    container_name: portainer
    restart: unless-stopped
    environment:
      - TZ=Asia/Jakarta
    ports:
      - "9000:9000"
      - "9443:9443"
      - "8000:8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - local-dev-network

volumes:
  portainer-data:

networks:
  local-dev-network:
    external: true
    name: local-dev-network
